doctype html
html
  head
meta(charset='utf-8')
   
title GMaps.js &mdash; Routes
   
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')

script(src="http://maps.google.com/maps/api/js?AIzaSyBGGIS0SMA0if-LXXBBcf8bS4ta2fy5w9Y")

script(src="/js/gmaps.js")

script("text/javascript" src="/js/map-render.js")

body
h1 GMaps.js &mdash; Routes
   
.row
  .span11
    #map(style="width: 400px; height: 400px;")
       
  .span6
    p With GMaps.js you can draw a route between two points this way:
           
    pre.
      \nmap.drawRoute({
        origin: [-12.044012922866312, -77.02470665341184],
        destination: [-12.090814532191756, -77.02271108990476],
        travelMode: 'driving',
        strokeColor: '#131540',
        strokeOpacity: 0.6,
        strokeWeight: 6
      });          
           
    p
       You must define two points (
      strong origin
        and 
      strong destination
       ) and color, opacity and weight of the route in the map.