include ../mixins/flash-messages

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'wagwan'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

        //-[if lt IE 9]
            script(src="/js/ie8.js")
        //-[endif]

        link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")

        block css
            link(href="/css/bootstrap.css", rel="stylesheet")
            link(href="/css/layout.css", rel="stylesheet")
        block head
    body(id="page-#{routeName}")
        div(role="navigation").navbar.navbar-default
            .container-fluid
                .navbar-header
                  a.navbar-brand(href='/')
                    img(alt='Wagwan', width='20', height='20', src='/images/logo.png')
        #body
            block intro
            +flash-messages(messages)
            block content

        .container: #footer

        block js
            script(type='text/javascript', src='/js/vendor.js')
            script(type='text/javascript', src='/js/moment.js')
            script(type='text/javascript', src='/js/all.js')
            if user && user.canAccessKeystone
                script(src='/keystone/js/content/editor.js')